$Fuente_Principal: "dream-orphans";

@font-face {
  font-family: "dream-orphans";
  src: url(/src/Font/dream-orphans.bold.otf);
  font-weight: normal;
  font-style: normal;
}

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1680px;

// Colores
$Black: #000000;
$Charcoal: #1a1a1a;
$DarkGrey: #333333;
$yellow: #E08709;;
$Golden: #efb810;
$lightMustardYellow: #fcc922;
$greenAqua: #9bc7b8;
$SeaGreen: #16a085;
$GreenPine: #122a29;
$Tomato: #e74c3c;
$deepRed: #fa0808;
$dodgerBlue: #1E90FF;
$grey: #e1e1e1;
$White: #FFFFFF;




