html {
    scroll-behavior: smooth;
}


.Data-KeysHomes {
    display: flex;
    flex-direction: column;
    text-align: center;

    .property-data {
        color: $blanco;
        background: linear-gradient(to right, #848265, #3b3b2e);
        padding: 2rem;
        .number {
            
            font-size: 4rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: $blanco;
        }
        .plus-sign {
            color: #98c5b8;
        }
        .text-property-data {
            color: $blanco;
            font-family: $Fuente_Principal;
            font-size: 1.5rem;
            margin: -4rem 0 4rem 0;
        }
    }

    .work-data {
        color: $blanco;
        background: $negro;
        font-family: $Fuente_Principal;
        font-weight: bold;
        font-size: 2rem;
        padding: 2rem;
    }

    @include laptop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .property-data {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .work-data {
            grid-column: span 2; // Ocupa todo el ancho disponible
        }
    }
}